*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

img{
  display: block;
  max-width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

header{
  width: 100%;
  background: #fff;
}

.header{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px;
  font-family: 'Raleway', sans-serif;
}

.menu-principal ul{
  display: flex;
}

.menu-principal ul li{
  padding: 10px 30px;
}

.menu-principal ul li:last-child{
  padding-right: 0;
}

.menu-principal li a:hover{
  color: #BDBAFA;
}

#icon{
  display: none;
  font-size: 25px;
  cursor: pointer;
}

/* === PRINCIPAL === */

.principal-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 30px 20px;
}

.principal-info h1{
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px;
}

.principal-info p{
  max-width: 500px;
  font-size: 15px;
  margin-bottom: 20px;
}

.principal-info form{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
}

.principal-info form input{
  height: 30px;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 2px 3px 7px -6px #000;
}

.principal-info form button{
  width: 150px;
  height: 30px;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 3px 7px -6px #000;
}

/* === MAIN === */
section.main{
  background-color: #F9F8FE;
  padding-bottom: 30px;
}

section.principal:after{
  content: '';
  display: block;
  background-image: url('./images/bg-curve-desktop.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
}

.main-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0px 20px;
}

.main-info h1{
  font-size: 33px;
  margin-bottom: 30px;
}

.descricao p{
  max-width: 450px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: justify;
}

.destaque{
  max-width: 156px;
  padding-bottom: 3px;
  color: hsl(170, 45%, 43%);
  font-size: 15px;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  margin-bottom: 20px;
}

.depoimento{
  max-width: 330px;
  display: grid;
  background: #fff;
  text-align: justify;
  padding: 20px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 1px 3px 9px -2px #ccc;
}

.depoimento .icon{
  margin-bottom: 10px;
}

.depoimento .avatar{
  display: grid;
  align-items: center;
  grid-template-columns: 45px 4fr;
  padding-top: 20px;
  font-size: 10px;
}

.avatar-img{
  width: 40px;
  border-radius: 50%;
}

.avatar-info .avatar-title{
  font-weight: bold;
}

.main-img{
  padding: 50px 0px 50px 50px;
}

/* === NEWSLETTER === */

section.newsletter{
  width: 100%;
  padding: 60px 0px;
  background: hsl(238, 22%, 44%);
}

.newsletter-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.newsletter-info{
  color: #fff;
}

.newsletter-info h1{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.newsletter-info p{
  max-width: 450px;
  font-size: 14px;
}

.newsletter-form{
  display: grid;
  padding-left: 50px;
  align-items: center;
}

.newsletter-form form{
  display: grid;
  grid-row-gap: 10px;
}

.newsletter-form form input{
  height: 30px;
  width: 90%;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border-radius: 2px;
  border: none;
  box-shadow: 2px 3px 7px -6px #000;
}

.newsletter-form button{
  width: 200px;
  height: 30px;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 3px 7px -6px #000;
}

/* === FOOTER === */
footer{
  width: 100%;
  background: hsl(243, 87%, 12%);
  color: #fff;
  padding: 60px 0;
}

footer a{
  color: #fff;
}

.footer-container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 20px;
}

.footer-contato{
  display: grid;
}

.footer-contato i{
  margin-right: 10px;
}

.footer-nav-1 {
  display: grid;
  justify-items: center;
}

.footer-nav-1.center, .start{
  justify-items: center;
}

.footer-nav-1 li{
  margin-bottom: 10px;
}

.redes-sociais{
  display: grid;
  justify-items: center;
}


.redes-sociais a{
  font-size: 20px;
  margin-right: 10px;
}



/* === MOBILE === */

@media(min-width: 840px) and (max-width: 980px){
  .principal-info h1{
    font-size: 30px;
    line-height: 40px;
  }

  .principal-info p{
    width: 400px;
    font-size: 14px;
  }

  .principal-banner{
    padding: 0 10px;
  }
}

@media(min-width: 768px) and (max-width: 840px){
  .principal-info h1{
    font-size: 24px;
    line-height: 30px;
  }

  .principal-info p{
    width: 400px;
    font-size: 14px;
  }
}

@media(max-width: 769px){
  header{
    /* position: fixed; */
  }

  nav ul{
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #BDBAFA;
    top: 80px;
    left: -100%;
    transition: all .5s;
  }

  .menu-principal ul li:last-child{
    padding-right: 30px;
  }

  .menu-principal ul li{
    margin: 10px;
  }

  .show{
    left: 0;
  }

  section.principal{
    padding-top: 90px;
  }

  #icon{
    display: block;
  }

  #times{
    display: none;
  }

  .newsletter-form button{
    justify-self: start;
  }
}

@media(max-width: 767px){
  .principal-container{
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .principal-info{
    display: grid;
    justify-content: center;
    text-align: center; 
  }

  .principal-info p{
    justify-self: center;
  }

  .principal-info form{
    grid-template-columns: 60% 40%;
    grid-column-gap: 0;
  }

  .principal-info form button {
    width: 205px;
    justify-self: end;
  }

  .principal-banner{
    grid-row: 1;
  }

  .main-container{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .main-info{
    display: grid;
    justify-items: center;
  }

  .main-info h1{
    text-align: center;
  }

  .main-img{
    grid-row: 1;
    padding: 50px 0px;
  }
}

@media(max-width: 584px){
  .newsletter-container{
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .newsletter-info{
    justify-self: center;
    text-align: center;
  }

  .newsletter-form{
    padding-left: 0;
  }

  .newsletter-form form{
    justify-items: center;
  }

  .newsletter-form button{
    justify-self: center;
  }

  .footer-container{
    grid-template-columns: 1fr 1fr;
  }

  .footer-nav-1.start{
    justify-items: start;
  }
  
}

@media(max-width: 560px){
  .principal-info form{
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 5px;
  }

  .principal-info form input{
    width: 70%;
  }

  .principal-info form button{
    width: 70%;
    justify-self: center;
  }

  
}

@media(max-width: 550px){
  .principal-info h1{
    font-size: 25px;
    line-height: 30px;
  }

  .principal-info p{
    font-size: 13px;
  }

  .main-info h1{
    font-size: 25px;
  }

  .main-info p{
    font-size: 13px;
  }
}

@media(max-width: 426px){
  section.principal:after{ /*Trocando bg curver para img mobile*/
    content: '';
    display: block;
    background-image: url('./images/bg-curve-mobile.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
  }

  .main-info h1{
    font-size: 23px;
  }

  .newsletter-form button {
    width: 90%;
  }
}

@media(max-width: 376px){
  footer{
    padding: 60px 0px 30px 0px;
  }

  .footer-container{
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .footer-contato{
    grid-row-gap: 10px;
  }

  .footer-nav-1.center{
    justify-items: start;
  }
}